.login__input {
  height: 27px;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  color: #CCCCCC;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 30px 0;
  padding: 0 0 13px 0;
  background: none;
}