.profile{
  max-width: 880px;
  margin: 0 auto 51px;
  padding: 0;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  align-items: center;
}
@media (max-width: 1023px){
  .profile{
    padding: 0 19px;
  }
}
@media (max-width: 768px){
  .profile{
    display: flex;
    flex-direction: column;
    margin: 0 auto 36px;
    padding: 0;
  }
}
  