.popup__close{
  position: absolute;
  right: -40px;
  top: -40px;
  font-size: 30px;
  cursor: pointer;
  background-image: url("../../../images/popup_close-icon.svg");
  background-color: rgba(0, 0, 0, 0);
  width: 32px;
  height: 32px;
  z-index: 1000;
  background-size: contain;
  border: none;
}
.popup__close:hover {
  opacity: .6;
}

@media (max-width: 768px){
  .popup__close{
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}